html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.field-input-tooltip{
  background-color: orangered;
}

.field-input-tooltip::before{
  border-left-color: transparent!important;
  border-top-color: transparent!important;
}